<div class="ob-create-user">
  <h3>Create a new user:</h3>
  {{paper-input
    disabled=isDisabled
    label="First Name"
    value=firstName
    onChange=(action (mut firstName))
  }}
  {{paper-input
    disabled=isDisabled
    label="Last Name"
    value=lastName
    onChange=(action (mut lastName))
  }}
  {{#paper-button raised=true onClick=(action "createUser") iconButton=true}}
    {{paper-icon "add"}}
  {{/paper-button}}
</div>

<div class="ob-user-grid">
  <h3>Your users:</h3>
  {{#each model as |user|}}
    {{user-grid-row user=user isDirty=isDirty}}
  {{/each}}
</div>
