/*
font-family: 'Rubik', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body, p, span {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}
