@import 'ember-paper';
@import 'overrides';
@import 'typography';
@import 'utilities';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Rubik:400,700');

/*
font-family: 'Rubik', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

.ob-header {
  background-color: #2470AF;
  color:#fff;
  padding:10px;
}
.ob-header__brand a {
  color: #fff;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size:28px;
}

.ob-content {
  margin:0 auto;
  max-width:1280px;
  padding:20px;
}

.ob-orders-grid {
  margin-top:10px;
}
.ob-orders-grid__blank-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:40px;
  border-radius:5px;
  background-color: rgba(0, 0, 0, .15);

  .blank-state__title {
    color:#333;
  }
}
.ob-order-grid__row {
  display: grid;
  grid-template-columns: 10% 20% 50% 20%;
  grid-gap:5px;
  padding:5px;
  background-color: rgba(255, 255, 255, 1);
  transition: all 250ms;

  &:hover {
    background-color: rgba(0, 0, 0, .1)
  }
}
.ob-order-grid__column {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &:last-child {
    align-items: center;
  }
}
.ob-order-gird__column-title {
  font-size: 14px;
  font-weight: bold;
}

.ob-page__title-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-details {
  display:flex;
  flex-direction: row;
  align-items: center;
  padding:5px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom:1px solid #ccc;
  transition: all 250ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.10);
  }

  & > div:nth-child(1) {
    flex: 1 60%;
  }
  & > div:nth-child(2) {
    flex: 1 40%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
